
/* Navigation
================================================== */

@import "compass/css3";
@import "_normalize.css.scss";
@import "_layout.css.scss";


/* Clearfix
================================================== */

.nav-tabs:before,
.nav-tabs:after, 
.nav-pills:before,
.nav-pills:after {
  content: "";
  display: table;
}
.nav-tabs:after, 
.nav-pills:after {
  clear: both;
}


/* Default
================================================== */

.nav {
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav li {
  float: left;
}
.nav a {
  color: #08c;
  display: block;
  margin-right: 2px;
  padding: 8px 12px;
  text-decoration: none;
}
.nav a:hover, 
.nav a:focus {
  background-color: #eee;
}
.nav .active a {
  cursor: default;
}


/* Tabs
================================================== */

.nav-tabs {
  border-bottom: 1px solid #ddd;
}
.nav-tabs li {
  margin-bottom: -1px;
}
.nav-tabs a {
  @include border-radius(5px 5px 0 0);
  border: 1px solid transparent;
}
.nav-tabs a:hover,
.nav-tabs a:focus {
  border-bottom-color: #ddd;
}
.nav-tabs .active a {
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  color: #555;
}


/* Pills
================================================== */

.nav-pills a {
  @include border-radius(5px);
}
.nav-pills .active a {
  background-color: #08c;
  color: #fff
}


/* Stacked
================================================== */

.nav-tabs-stacked li,
.nav-pills-stacked li {
  float: none;
}

/* Tabs */

.nav-tabs-stacked {
  border: none;
}
.nav-tabs-stacked a {
  @include border-radius(0);
  border: 1px solid #ddd;
}
.nav-tabs-stacked li:first-child > a {
  @include border-top-radius(5px);
}
.nav-tabs-stacked li:last-child > a {
  @include border-bottom-radius(5px);
}

/* Pills */

.nav-pills-stacked a {
  margin-bottom: 3px;
}
