@import "compass/css3";
@import "_normalize.css.scss";
@import "_layout.css.scss";


.nav-tabs,
.nav-pills{
  &:before {
    content: "";
    display: table;
    line-height: 0;
  }
  &:after {
    clear: both;
    content: "";
    display: table;
    line-height: 0;
  }
}

.nav {
  list-style: none;
  margin: 0;
  padding: 0;
  li a {
    color: #08c;
    display: block;
    text-decoration: none;
    &:hover, &:focus {
      background-color: #eee;
    }
  }
}

.nav-tabs {
  border-bottom: 1px solid #ddd;
  li {
    float: left;
    margin-bottom: -1px;
    a {
      @include border-radius(4px 4px 0 0);
      border: 1px solid transparent;
      line-height: 20px;
      margin-right: 2px;
      padding: 8px 12px 8px 12px;
      &:hover, &:focus {
        color: #058;
        border-color: #eee #eee #ddd;
      }
    }
    &.active a {
      background-color: #fff;
      border: 1px solid #ddd;
      border-bottom-color: transparent;
      color: #555;
      cursor: pointer;
    }
  }
}

.nav-pills {
  li {
    float:left;
    a {
      @include border-radius(5px);
      line-height: 20px;
      margin-right: 2px;
      padding: 8px 12px 8px 12px;
    }
    &.active a {
      background-color: #08c;
      color: #fff
    }
  }
}

.nav-stacked {
  li {
    float: none;
  }
}

.nav-tabs.nav-stacked {
  border: none;
  li {
    a {
      @include border-radius(0);
      border: 1px solid #ddd;
    }
    &:first-child > a {
      @include border-top-radius(4px);
    }
    &:last-child > a {
      @include border-bottom-radius(4px);
    }
  }
}

.nav-pills.nav-stacked {
  li {
    a {
      margin-bottom: 3px;
    }
  }
}