
/* Media object
================================================== */

@import "compass/css3";
@import "_normalize.css.scss";
@import "_layout.css.scss";

/* Default styles */

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  @include border-radius(5px);
}
